In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('indian_customer_data.csv')
print(df.head())

   Index Customer Id First Name Last Name        Company       City Country  \
0      1       IN001      Aarav    Sharma        Infosys  Bengaluru   India
1      2       IN002      Priya     Patel            TCS     Mumbai   India
2      3       IN003      Rahul     Verma          Wipro  Hyderabad   India
3      4       IN004      Sneha     Reddy            HCL    Chennai   India
4      5       IN005     Vikram     Mehta  Tech Mahindra       Pune   India

      Phone 1       Phone 2              Email Subscription Date  \
0 -9876543119 -8.765432e+09  aarav@infosys.com        12-05-2023
1 -9123456698           NaN      priya@tcs.com        07-11-2022
2 -9988776564 -9.666554e+09    rahul@wipro.com        20-02-2023
3 -9090908999           NaN      sneha@hcl.com        18-08-2022
4 -8877665453 -7.766554e+09   vikram@techm.com        03-07-2023

                        Website
0       https://www.infosys.com
1           https://www.tcs.com
2         https://www.wipro.com
3       https://www.hcltech.com
4  https://www.techmahindra.com

In [9]:
df.City

0    Bengaluru
1       Mumbai
2    Hyderabad
3      Chennai
4         Pune
Name: City, dtype: object

In [15]:
df['Customer Id']

0    IN001
1    IN002
2    IN003
3    IN004
4    IN005
Name: Customer Id, dtype: object

In [24]:
df[df['Customer Id'] == 'IN002']

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
1,2,IN002,Priya,Patel,TCS,Mumbai,India,-9123456698,NaN,priya@tcs.com,07-11-2022,https://www.tcs.com